
.specials-card {
    width: 100%;
    max-width: 320px;
    min-height: 420px;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .15);
    background: #edefee;
    text-align: center;
    transition: transform 0.3s ease, box-shadow .3s ease;
}

.specials-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, .25);
}



.dish-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 12px;
    border: 1px solid #495e57
}

.specials-card h3 {
    margin: 0 0 5px 0;
    color: #495e57;
    font-size: 1.4rem;
    font-weight: 600;
}

.price {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #333;
    font-weight: bold;
}

.description {
    margin: 6px 0 15px 0;
    font-size: .95rem;
    color: #555;
    flex-grow: 1;
}

.add-to-cart-btn {
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    cursor: pointer;
    background: #f4ce14;
    color:#495e57;
    font-weight: 600;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.add-to-cart-btn:hover {
    background:#fbdabb;
    color: black;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, .35);
}