body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    background: #edefee;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5em;
    padding: .75em 1em;
    position: relative;
    height: 64px;
    z-index: 110;
    background: #edefee;
}

.basket-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 110;
}

.basket-icon img,
.hamburger-menu img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.basket-icon:hover {
    transform: scale(1.03);
}

.logo {
    height: 40px;
    width: auto;
    margin-bottom: 6px;
}

.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 110;
    fill: #495e57;
}


.hamburger-menu img:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - 60px);
    background-color: #edefee;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .5);
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    transition: transform .35s ease, opacity .35s ease;
    overflow-y: auto;
    z-index: 90;
}

.nav-links.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    background: #edefee;
}

#mobile-nav-list li:hover {
    background-color: #ee9972;
}

.nav-links li {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #afafaf;
    width:100%;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}

.nav-links li:last-child {
    border-bottom: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 1.2em;
    padding: 0;
}


.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    z-index: 80;
    opacity: 0;
    pointer-events: none;
    transition: opacity .35s ease;
}

.nav-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

@media (min-width: 1024px) {

    .nav-links {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .nav-links li{
        border: none;
        padding: .5rem;
    }
    .nav-links li:first-child {
        margin-top: 1em;
    }
    .nav-links a {
        font-size: 1.25rem;
        color: #495e57;
        font-weight: 500;
        transition: color .2s ease;
    }

    .nav-links li:hover {
        color: #ee9972;
    }

    .nav-links a:hover {
        color: #edefee;
    }
}